.card {
    background-color: rgba(33, 37, 41);
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.55);
    width: 100%;
    text-align: justify;
}

.card i {
    margin: 2rem 0rem 2rem 10rem;
    font-size: 6em;
}