.extra-container {
    background-color: rgba(33, 37, 41);
    padding-top: 1rem;
}

.extra-container h1 {
    color: rgba(255, 255, 255);
}

.extra-container .extra-card {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 2rem 0 2rem 0;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(255, 255, 255, 0.7);
    color: rgba(33, 37, 41);
    min-height: 13rem;
    text-align: justify;
    width: 100%;
}

.extra-container .extra-card i {
    margin: 1rem 5rem 0rem 6.7rem;
    font-size: 2rem;
}

.extra-container .card-title {
    color:rgba(0, 0, 0);
}

.extra-card:hover {
    background-color: rgba(33, 37, 41);
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255);
}

.extra-card:hover .card-title {
    color: rgba(255, 255, 255);
}