<!DOCTYPE html>
{% extends 'webSiteConfig/base.html' %}

{% load static %}

{% block headerTags%} 
    <link rel = "stylesheet" href="{% static 'FileManager\CSS\tableStyle.css' %}">
{% endblock %}

{% block title %} Download {% endblock %}

{% block content %}
    <h1> Download Variable History Data </h1>
    <hr>
    
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
            <th scope="col" colspan="2">Variable Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Temperature</th>
                <td>
                <a href="file/temperature">
                    <i class="fa-solid fa-file-arrow-down"></i>
                </a>
                </td>
            </tr>
            <tr>
                <th scope="row">SetPoint</th>
                <td>
                <a href="file/setPoint">
                    <i class="fa-solid fa-file-arrow-down"></i>
                </a>
                </td>
            </tr>
            <tr>
                <th scope="row">Voltage</th>
                <td>
                <a href="file/voltage">
                    <i class="fa-solid fa-file-arrow-down"></i>
                </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}