<!DOCTYPE html>
{% extends 'webSiteConfig/base.html' %}

{% block title %} Download {% endblock %}

{% block content %}
    <h3> Download Variable History Data </h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">Variable Name</th>
            <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Temperature</th>
                <td>
                <a href="file/temperature">
                    <i class="fa-solid fa-file-arrow-down"></i>
                </a>
                </td>
            </tr>
            <tr>
                <th scope="row">SetPoint</th>
                <td>
                <a href="file/setPoint">
                    <i class="fa-solid fa-file-arrow-down"></i>
                </a>
                </td>
            </tr>
            <tr>
                <th scope="row">Voltage</th>
                <td>
                <a href="file/voltage">
                    <i class="fa-solid fa-file-arrow-down"></i>
                </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

<html>
    <body>
        {% include "webSiteConfig/menu.html" %}
        
    </body>
</html> 