{% load static %}

<html>
    <head>
        <link rel = "stylesheet" href="{% static 'Charts\CSS\chartStyle.css' %}">
    </head>

    <body>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
            <!--Do not delete the line above, this impact Charts\JS\chart.js-->
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script src="{% static 'Charts\JS\chart.js' %}"></script>
        </div>        
    </body>
</html>