<!DOCTYPE html>
<footer class="bg-dark text-center">
    <div class="container p-1">
      <section class="mb-2">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/wallasceleite/"  target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/wallasce/"  target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <section class="mb-2">
        <p>Projeto de Conclusão de Curso de Engenharia de Controle e Atuomação</p>
        <p>Desenvolvido por Wallasce Leite</p>
      </section>
    </div>
  
    <div class="text-center p-3 copyright">
        Universidade Federal de Minas Gerais - 2023 ©
    </div>
  </footer>