<!DOCTYPE html>
{% load static %}

<link rel = "stylesheet" href="{% static 'ContentPage/CSS/carouselHomeStyle.css' %}">

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-container-1 container-fluid">
                <div class="row">
                    <div class="col">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="col">
                        <h1 class="display-1 title"> Final Course Project </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-container-2 container-fluid">
                <div class="row">
                    <div class="col">
                        <i class="fa-solid fa-wifi"></i>        
                    </div>
                    <div class="col">
                        <h1 class="display-1 title"> OPC Communication System </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-container-3 container-fluid">
                <div class="row">
                    <div class="col">
                        <i class="fa-solid fa-box-archive"></i>
                    </div>
                    <div class="col">
                        <h1 class="display-1 title"> Control the Thermoelectric Box </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
