<!DOCTYPE html>
{% extends 'webSiteConfig/base.html' %}
{% load static %}

{% block headerTags%} 
    <link rel = "stylesheet" href="{% static 'ContentPage/CSS/homeStyle.css' %}">
    <link rel = "stylesheet" href="{% static 'ContentPage/CSS/hmiCardStyle.css' %}">
    <link rel = "stylesheet" href="{% static 'ContentPage/CSS/extraCardStyle.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
    {% include "ContentPage/carouselHome.html" %}
    <div class="hmi-container container-fluid">
        <h1> Explore the HMI Interface for Total Control!</h1>
        <div class="row">
            {% for card in cards %}
                <div class="col">
                    <div class="card hmi-card mb-3">
                        <i class = "{{ card.fontAwesome }}"></i>
                        <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.body }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="extra-container container-fluid">
        <h1> Explore Our Additional Features </h1>
        <div class="row">
            {% for card in extraCards %}
                <div class="col">
                    <div class="card extra-card mb-3">
                        <i class = "{{ card.fontAwesome }}"></i>
                        <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.body }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}