<!DOCTYPE html>
{% extends 'webSiteConfig/base.html' %}

{% load static %}

{% block title %} Supervisory {% endblock %}

{% block headerTags%} 
    <script src="{% static 'ihm/getOPCValues.js' %}"></script>
    <link rel = "stylesheet" href="{% static 'ihm/pageStyle.css' %}">
{% endblock %}

{% block content %}
    <div id = "header">
        <h1>Caixa Termoelétricamente Controlada</h1>
    </div>

    <div id = 'serverStatus'> 
        Server Status Connection 🟢
    </div> 

    {% block sensor %}
    <div id = 'block-sensor'>
        <h2> Sensors </h2>
        <h3 id = 'temperature'> Temperature: {{ temperature }}</h3>
        <h3 id = 'voltageSensor'> Voltage: {{ voltage }}</h3>
    </div>
    {% endblock %}

    {% block mode%}
    <div id = 'block-mode'>
        <h3>
            <form id = 'modeForm'>
                {{ modeForm }}
            </form>
        </h3>
    </div>
    {% endblock %}

    {% block manual%}
    <div id = 'block-manual'>
        <h3>
            <form>
                {{ voltageForm }}
            </form>
        </h3>
    </div>
    {% endblock %}

    {% block controller%}
    <div id = 'block-controller'>
        <form>
            <table>
                {{ controllerForm }}
            </table>
        </form>
    </div>
    {% endblock %}

    {% csrf_token %}

    {% block Chart %}
        {% include 'Charts/lineChart.html' %}
    {% endblock %}
    <script src="{% static 'ihm/setOPCValues.js' %}"></script>
{% endblock %}