<!DOCTYPE html>
{% extends 'webSiteConfig/base.html' %}

{% load static %}

{% block title %} Supervisory {% endblock %}

{% block headerTags%} 
    <script src="{% static 'ihm/getOPCValues.js' %}"></script>
    <link rel = "stylesheet" href="{% static 'ihm/pageStyle.css' %}">
{% endblock %}

{% block content %}
    <div id = "header">
        <h1>Caixa Termoelétricamente Controlada</h1>
    </div>

    <div class="card sensors-card bg-dark mb-5">
        <h3 class="card-title text-white">Sensors</h3>
        <div class="card-body">
            <p class="lead" id = 'temperature'> Temperature: {{ temperature }}</h3>
            <p class="lead" id = 'voltageSensor'> Voltage: {{ voltage }}</h3>
        </div>
    </div>

    <div class="card mb-5">
        <h3 class="card-title text-white">PID Configuration</h3>
        <div class="row g-0">
            <form id = 'modeForm' class="lead">
                {% for form in modeForm %}
                    <div class="form-check">
                        {% for choice in form %}
                            <div class="form-check form-check-inline">
                                {{ choice }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>

        <div class="row g-0">
            <div class="manual col-md-5">
                <form>
                    <table>
                        {{ voltageForm }}
                    </table>
                </form>
            </div>
            <div class="automatic col-md-5">
                    <form>
                        <table>
                            {{ controllerForm }}
                        </table>
                    </form>
            </div>
        </div>
    </div>
    {% csrf_token %}

    <div class="card chart-card mb-5">
        <h3 class="card-title text-white">Chart</h3>
        <div class="card-body">
          {% include 'Charts/lineChart.html' %}
        </div>
    </div>
    
    <script src="{% static 'ihm/setOPCValues.js' %}"></script>
{% endblock %}