{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> {% block title %} Supervisory {% endblock %}</title>
    <script src="{% static 'ihm/getOPCValues.js' %}"></script>
</head>
<body>
    <div id = "header">
        <h1>Caixa Termoelétricamente Controlada</h1>
    </div>

    {% block sensor %}
    <div id = 'block-sensor'>
        <h3 id = 'temperature'> The current temperature is {{ temperature }}</h3>
    </div>
    {% endblock %}

    {% block mode%}
    <div id = 'block-mode'>
        <h3 id = 'mode'> Mode: {{ mode }}</h3>
    </div>
    {% endblock %}

    {% block manual%}
    <div id = 'block-manual'>
        <h3 id = 'voltage'> Voltage: {{ voltage }}</h3>
    </div>
    {% endblock %}

    {% block controler%}
    <div id = 'block-controler'>
        <form>
            {{ controlerForm }}
        </form>
    </div>
    {% endblock %}
    {% csrf_token %}
    <script src="{% static 'ihm/setOPCValues.js' %}"></script>
</body>
</html>